.gist-list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.gist-filename {
  font-size: 1.2rem;
  color: #333;
  i {
    margin-right: 0.5rem;
  }
}

.user-avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.gist-forks * {
  margin-left: 0.25rem;
}

.fork-icon {
  font-size: 1.5rem;
  color: #666;
}
