.gist-search-container {
  display: flex;
  margin-bottom: 1rem;
}

.gist-search-input {
  border: none;
  outline: none;
  font-size: 2rem;
  color: #666;
  border-bottom: 3px solid #fff;
  transition: 0.2s all ease-in;
  &:focus {
    border-bottom: 3px solid #aaa;
  }
}

.search-icon {
  font-size: 2rem;
  color: #aaa;
  cursor: pointer;
  padding: 0.5rem;
}